{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
{% endblock stylesheets %}

{% block body %}

    <footer class="footer">
        <div class="container">
            &copy; {{ 'now'|date('Y') }} RM, All Rights Reserved
        </div>
    </footer>

{% endblock body %}

{% block javascripts %}
    <script src="{{ asset('build/main.js') }}"></script>
{% endblock javascripts %}
