{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        <span class="icon">{{ include('data-collector/swagger-icon-black.svg') }}</span>
        <span class="sf-toolbar-value">Swagger</span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over the toolbar panel #}
        <div class="sf-toolbar-info-group">
            <div class="sf-toolbar-info-piece">
                <b>UI</b>
                <span>
                    <a href="{{ path('app.swagger_ui') }}" class="" target="_blank">Swagger UI</a>
                </span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>JSON</b>
                <span>
                    <a href="{{ path('app.swagger') }}" class="" target="_blank">Swagger JSON</a>
                </span>
            </div>
        </div>
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false }) }}
{% endblock %}
